<div class="form-row">
  <div class="form-item">
    <label>Заглавие</label>
    <input type="text" name="title" value="<%= book.title %>">
  </div>
  <div class="form-item">
    <label>Автор</label>
    <select name="author">
      <% authors.forEach(author => { %>
        <% if (author.id === book.author) { %>
          <option selected label="<%= author.name %>" value="<%= author.id %>">
        <% } else { %>
          <option label="<%= author.name %>" value="<%= author.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Дата на публикуване</label>
    <input type="date" name="publishDate"
          value="<%= book.publishDate == null ? '' : book.publishDate.toISOString().split('T')[0] %>">
  </div>
  <div class="form-item">
    <label>Брой страници</label>
    <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Корица</label>
    <input type="file" name="cover" class="book-cover filepond">
    <input type="hidden" name="coverImagePath" id="coverImagePath">
    <input type="hidden" name="thumbnailPath" id="thumbnailPath">
    <input type="file" name="cover" class="book-cover filepond" accept="image/jpeg, image/png, image/webp">
    <small class="form-hint">Max 5MB (JPEG, PNG, WebP)</small>
  </div>
  <div class="form-item">
    <label>Описание</label>
    <textarea name="description"><%= book.description %></textarea>
  </div>
</div>