<div class="book-grid <%= large ? 'large' : '' %>">
  <% books.forEach(book => { %>
    <div class="book-card">
      <% if (book.coverImagePath) { %>
        <img src="<%= book.coverImagePath %>" alt="<%= book.title %> Cover" class="book-cover">
      <% } else { %>
        <div class="book-cover-placeholder">Все още няма корица</div>
      <% } %>
      <h3 class="book-title"><%= book.title %></h3>
      <% if (book.author) { %>
        <p class="book-author"><%= book.author.name %></p>
      <% } else { %>
        <p class="book-author">Неизвестен Автор</p>
      <% } %>
      <% if (book.publisher) { %>
        <p class="book-publisher"><%= book.publisher.name %></p>
      <% } else { %>
        <p class="book-publisher">Неизвестен Потребител</p>
      <% } %>
      <a href="/books/<%= book.id %>" class="btn btn-primary">Вижте подробности</a>
    </div>
  <% }) %>
</div>