<!DOCTYPE html>
<html lang="bg">
<head>
  <%- include('../partials/header') %>
  <title><%= author.name %></title>
</head>
<body>
  <h1><%= author.name %></h1>
  <p><%= author.bio %></p>

  <!-- Show edit and delete buttons only for admin -->
  <% if (req.session.admin) { %>
    <div>
      <a href="/authors" class="btn btn-danger">Всички Автори</a>
      <a href="/authors/<%= author.id %>/edit" class="btn btn-primary">Редактиране</a>
      <form action="/authors/<%= author.id %>?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit" class="btn btn-danger">Изтриване</button>
      </form>
    </div>
  <% } %>

  <%- include('../partials/footer') %>
</body>
</html>